.chart {
    overflow: hidden;
    width: 100%;
}

.timeRow {
    margin: 1vh 0 0 1.5vw;
}

.buttons {
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    background-color: #03be9f;
    border: 1px solid #03be9f;
    border-radius: 6px;
    color: #dafff7;
    text-align: center;
    margin: 1vh 0.5vw 0 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}