.tweetList {
    display: block;
    border: 1px solid gray;
    width: 100%;
    max-height: 25vh;
}
.tweetNameRow {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
}
.profilePic {
    max-height: 7vh;
    border-radius: 100%;
    margin-top: 2vh;
}
.tweetBody {
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: -1vh;
}
.tweetTitle {
    text-align: center;
    margin-left: 2vw;
}
.retweets {
    margin-right: 2vw;
}