.chartContain {
    display: flex;
    flex-direction: row;
    background: white;
    width: 90%;
    margin-left: 5%;
    max-height: 70vh;
}
.socialHeader {
    margin: 50px;
}
.chartSegment {
    width: 50%;
    border: 1px solid black;
    overflow: auto;
}