.financialData {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0 1vw 0 1vw;
}

.datapoint {
    font-size: .7rem;
    margin: 0 1.5vw 0 0;
}